* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    background-color: black;
    overflow:hidden;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.background{

    width:100vw;
    height:100vh;
    background: url('IMG/BACKGROUND.png') no-repeat center center;
    background-size:contain;
    overflow:hidden;
    z-index: -10;
    position:relative;
}

#tv-input{
  z-index: 10; 
  position:absolute;
  top: 36.5vh;
  left: 73.5vw;
  transform: rotate(-2deg);
}


input{
    height: 11vh;
    width: 9vw;
    background-color: transparent;
    border: none;
    text-decoration: solid;
    text-shadow:  -1px -1px 3px rgba(255,255,255,.2),
    -1px 1px 3px rgba(255,255,255,.2),
    1px -1px 3px rgba(255,255,255,.2),
    1px 1px 3px rgba(255,255,255,.2);
    color: white;
}



#keywordInput{
    text-align: center; 
    font-size: 1vw
}

 #keywordInput::placeholder {
     color: white;
     font-size: 1vw
}
