* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
    background-color: black;
    overflow:hidden;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.background{

    width:100vw;
    height:100vh;
    background: url('IMG/yippee.png') no-repeat center center;
    background-size:contain;
    overflow:hidden;
    z-index: -10;
    position:relative;
}

#tv-input {
    z-index: 10; 
    position: absolute;
    top: 30vh;
    left: 64.5vw;
    text-wrap: normal; 
  }
  
  textarea {
    height: 17vh; 
    width: 13vw;
    align-content: center;
    border: none;
    background-color: transparent;
    border-radius: 20%;
    text-decoration: solid;
    text-shadow: 
    -1px -1px 3px rgba(255,255,255,.2),
    -1px 1px 3px rgba(255,255,255,.2),
    1px -1px 3px rgba(255,255,255,.2),
    1px 1px 3px rgba(255,255,255,.2);
    color: white;
    resize: none; 
    overflow: hidden; 
    transform: skew(-5deg, -3deg);
    padding: 20px;
  }
  
  #keywordInput {
    text-align: center; 
    font-size: 1vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    resize: none; 
    line-height: normal;
    overflow: hidden;
  }
  
  #keywordInput::placeholder {
    color: white;
    text-align: center;
    font-size: 1vw;
  }

button{
    display: block;
    z-index: 15;
    right: 12vw;
    top: 24vh;
    position: absolute;
    background-color: transparent;
    width: 3vw;
    height: 4vh;
}


@media only screen and (min-width: 1440px) {
    #tv-input{
      top: 10vh;
      
    }
  }

