* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BACKGROUND*/

html, body {
    height: 100%;
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; 
    height: 100%;
    background-image: url('IMG/desat.png');
    background-size: contain; 
    background-repeat: no-repeat;
    transition: transform 0.1s ease-out;
}

.background .background-image{
    z-index: -10;
}


/*INPUT*/

#tv-input{
    position: fixed;
    overflow:inherit;
    left: 1431px;
    top: 230px;
    z-index: 10;
    transform: translateX(-30%)
}

input{
    height: 100px;
    width: 190px;
    background-color: transparent;
    border-radius: 10px;
    text-decoration: solid;
    text-shadow:  -1px -1px 3px rgba(255,255,255,.2),
    -1px 1px 3px rgba(255,255,255,.2),
    1px -1px 3px rgba(255,255,255,.2),
    1px 1px 3px rgba(255,255,255,.2);
    color: white;
}

#answer{
    position: fixed;
    overflow:hidden;
    left: 1431px;
    top: 230px;
    z-index: 11;
    transform: translateX(-30%)
}

p{
    height: 100px;
    width: 190px;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    text-decoration: solid;
    text-shadow:  -1px -1px 3px rgba(255,255,255,.2),
    -1px 1px 3px rgba(255,255,255,.2),
    1px -1px 3px rgba(255,255,255,.2),
    1px 1px 3px rgba(255,255,255,.2);
    color: white;
}

#keywordInput{
text-align: center;

    
}

